body {
	background-color: #FF5722;
	margin: 0;
  font-family: "Titillium Web";
  height: 100%;
}

a {
  outline: 0;
}

a p {
  color: #212121;
}

form {
  text-align: center;
  background-color: #dddddd;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 40%;
}

input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Dropdown Content (Hidden by Default) */
.drop-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.drop-content a {
    color: #212121;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.drop-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display: contents;}

.header {
	background-color: #448AFF;
	text-align: center;
  margin: 0;
  width: 100%;	
  height: 100%;
  color: #212121;
}

.card {
	background-color: #dddddd;
	padding: 1.2em 1.2em;
	margin: 1.2em 1.2em;
	float: left;
	text-align: center;
	color: #333333;
	width: 27.35%;
	box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
}

.footer {
	background-color: #757575;
 	width: 100%;
 	height: 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	margin: 0;
  padding: 0;
  text-align: center;
  float: left;
}

.special-div {
    border-radius: 5px;
    background-color: #FF5722;
    padding: 20px;
    margin: 0 auto;
}

#special-card {
    margin-bottom: 60px;
}

#div_header {
  margin-bottom: 20px;
  font-size: 80px;
}

#main-header {
  border-bottom: 20px outset #78ABFF;
}